<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.saltfactory.tutorial.kakaodemo"
          android:versionCode="1"
          android:versionName="1.0">
    <!--<uses-sdk android:minSdkVersion="17"/>-->
    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="17"/>

    <!-- 카카오 SDK를 사용하기 위해서 필요한 디바이스 권한 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application android:label="@string/sf_app_name" android:icon="@drawable/ic_launcher"
                 android:name="com.kakao.GlobalApplication" android:hardwareAccelerated="true">

        <!-- 카카오 SDK 내부적으로 로그인 처리시 com.kakao.LoginActivity를 열기 때문에 반드시 이 부분을 추가해야한다. -->
        <activity android:name="com.kakao.LoginActivity"/>

        <!-- 카카오 SDK의 로그인 버튼을 이용해서 로그인하는 엑티비티-->
        <activity android:name=".SFKakaoLoginActivity" android:label="@string/sf_app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <data android:host="@string/kakaostory_host" android:scheme="@string/kakao_scheme"/>
            </intent-filter>
        </activity>

        <!-- 테스트 메인 엑티비티 -->
        <activity android:name=".MyActivity"
                  android:label="saltfactory 카카오 SDK 데모"/>

        <!-- 카카오스토리 프로파일 테스트 엑티비티 -->
        <activity android:name=".SFKakaoStoryProfileActivity" android:label="카카오스토리 프로파일 "/>
        
        <!-- 카카오스토리 포스팅 테스트 엑티비티 -->
        <activity android:name=".SFKakaoStoryPostActivity" android:label="카카오스토리 포스팅"/>
        
        <!-- 카카오링크 테스트 엑티비티 -->
        <activity android:name=".SFKakaoLinkActivity" android:label="카카오링크">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="@string/kakaolink_host" android:scheme="@string/kakao_scheme"/>
            </intent-filter>
        </activity>

        <!-- 카카오 SDK를 사용하기 위해서 카카오 개발자 사이트에 등록한 앱의 앱키 -->
        <meta-data android:name="com.kakao.sdk.AppKey" android:value="@string/kakao_app_key"/>
    </application>


</manifest>
